:root {
    --cu-boulder-gold: #CFB87C;
  }

/* -- .bd-container and .bd-container__inner both need to adjust ---------- */
/* -- this so 'outer container' grows with browser (no L/R 'dead space') -- */
.bd-container {
    max-width: 99%;
}

/* -- this so the 'inner container' fills the outer container -------------- */
.bd-container .bd-container__inner {
    max-width: 99%;
}

/* -- .bd-article-container holds the "text in the middle" (notebook / md) ------ */
/* -- width is as high as as 100 "ems" (characters) wide, scales with font size -*/
.bd-main .bd-content .bd-article-container {
    max-width: 100em;
}

.code-block-caption {
    color: black;
}

.sphinx-tabs-panel {
    color: black;
}

html[data-theme="dark"] .sphinx-tabs-panel {
    color: black;
    filter: brightness(.8) contrast(1.2);
}

html[data-theme="dark"] .sphinx-tabs-panel img{
    color: black;
    filter: none;
}

html[data-theme="dark"] .sphinx-tabs-panel a.reference.internal {
    color: #176de8;
}

html[data-theme="dark"] .sphinx-tabs-panel a.reference.external {
    color: #176de8;
}

html[data-theme="dark"] .sphinx-tabs-panel h1, .sphinx-tabs-panel h2, .sphinx-tabs-panel h3, .sphinx-tabs-panel h4, .sphinx-tabs-panel h5, .sphinx-tabs-panel p.caption {
    color: black;
}

html[data-theme="dark"] .sphinx-tabs-panel div.admonition {
    background-color: white;
}

html[data-theme="dark"] .sphinx-tabs-panel p.admonition-title:before {
    backdrop-filter:  brightness(2) contrast(1);
}

html[data-theme="dark"] .sphinx-tabs-panel p.admonition-title{
    color:white;
}

html[data-theme="dark"] .sphinx-tabs-tab {
    color: var(--cu-boulder-gold);
    font-size: 18px;
    font-family: Verdana, sans-serif;
}

html[data-theme="dark"] .sphinx-tabs-tab[aria-selected="true"] {
    color: black;
    filter: brightness(.8) contrast(1.2);
    font-size: 18px;
    font-family: Verdana, sans-serif;
}

html[data-theme="dark"] .sphinx-tabs-tab[aria-selected="false"] {
    background-color: black;
    border: 1px solid whitesmoke;
    font-size: 18px;
    font-family: Verdana, sans-serif;
}

html[data-theme="dark"] code.docutils.literal.notranslate {
    color: var(--cu-boulder-gold); 
}

html[data-theme="light"] .sphinx-tabs-tab {
    color: black;
    font-size: 18px;
    font-family: Verdana, sans-serif;
}

html[data-theme=dark] {
    --pst-font-size-base: none;
    --pst-color-secondary: var(--cu-boulder-gold);
    --pst-color-primary: var(--cu-boulder-gold);
}

html[data-theme=light] {
    --pst-font-size-base: none;
    --pst-color-secondary: #176de8;
    --pst-color-primary: #176de8;
}

html[data-theme=dark] .bd-header-article .btn {
    align-items: center;
    border: none;
    color: var(--cu-boulder-gold);
    display: flex;
    font-size: 1.3rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

html[data-theme=dark] .bd-header-article .btn:hover {
    filter: brightness(1) contrast(1.5);
}


html[data-theme=dark] .form-control:focus {
    box-shadow: 0 0 0 .1875rem var(--cu-boulder-gold);
}

.bd-sidebar-primary li.has-children>details>summary .toctree-toggle {
    justify-content: left;
}


.graph#gs-flowchart .node text {
    font-weight: bold;
}

html[data-theme=dark] .graph#gs-flowchart #clickable.node:hover ellipse {
    fill: white; 
}

html[data-theme=dark] .graph#gs-flowchart #clickable.node:hover text {
    fill: black;
}

html[data-theme=light] .graph#gs-flowchart #clickable.node:hover ellipse {
    fill: black; 
}

html[data-theme=light] .graph#gs-flowchart #clickable.node:hover text {
    fill: white; 
}

html[data-theme=light] .graph#gs-flowchart .node ellipse {
    fill: white; 
}

html[data-theme=light] .graph#gs-flowchart .node text {
    fill: black; 
}

.bd-content .sd-tab-set .sd-tab-content {
    padding: 1.5rem;
}